// Colors
@include set(
  color,
  (
    black: #000000,
    white: #ffffff,
    grey: (
      80: #333333,
      70: #666768,
      60: #7f8182,
      50: #a0a1a2,
      40: #b5b6b7,
      30: #d3d3d3,
      20: #e2e2e2,
      10: #ededed,
      05: #fefefe,
    ),
    blue: (
      100: #00247b,
      90: #032f9a,
      80: #1e4bb8,
      70: #2563cc,
      60: #2c75dd,
      50: #3b8cf4,
      40: #4ea3fa,
      30: #72b9ff,
      20: #98ccff,
      10: #c3e1ff,
      05: #e1f0ff,
      00: #f4faff,
    ),
    cool-grey: (
      100: #0c0d0d,
      90: #1d232b,
      80: #2d3642,
      70: #414c5a,
      60: #566271,
      50: #6d7989,
      40: #8692a1,
      30: #a0abb8,
      20: #bbc5d0,
      10: #dae0e8,
      05: #eef1f4,
      00: #f9fafb,
    ),
    green: (
      90: #007200,
      80: #008700,
      70: #21aa00,
      60: #45bf00,
      50: #73d42b,
      40: #8fe74f,
      30: #a3f069,
      20: #c2f49c,
      10: #dbf8c3,
      05: #eeffe0,
      00: #f8fff2,
    ),
    red: (
      90: #b02215,
      80: #cc3123,
      70: #e73929,
      60: #ff4a39,
      50: #ff5b4b,
      40: #ff6e61,
      30: #ff8479,
      20: #ffa198,
      10: #ffbeb8,
      05: #fee7e6,
      00: #fef5f5,
    ),
    orange: (
      100: #b14901,
      90: #c75100,
      80: #dc5a00,
      70: #e57300,
      60: #f08605,
      50: #f59d0b,
      40: #f5ab2b,
      30: #f7ba50,
      20: #f9ce82,
      10: #fbe1b3,
      05: #fdf3e1,
      00: #fffbf4,
    ),
    purple: (
      90: #663399,
      80: #8843cd,
      70: #a766e8,
      60: #bb7eed,
      50: #d1a2f8,
      40: #ddbcf8,
      30: #e8d1fa,
      20: #ecdcf9,
      10: #f2e6fb,
      05: #f8eeff,
      00: #fcf8ff,
    ),
  )
);
